.container {
    border: 1px solid #ccc;
    padding: 10px;
    h1 {
        color: blue;
        a {
            color: purple;
        }
    }
    .btn {
        background-color: aliceblue;
    }
}

